body {
    background-image: url(image/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(0, 0, 0, 0.818);
    text-align: center;
    color: white;
    padding: 20px;
}

.contenedor {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.columna {
    width: 50%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.623);
    box-shadow: 0 0 10px purple;
    border-radius: 15px;
}

/* Calendario */
#calendario {
    display: grid;
    grid-template-columns: repeat(6, 40px);
    gap: 5px;
    justify-content: center;
}

.day {
    padding: 10px;
    background: #eee;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

/* Video */
#seccion-video {
    width: 90%;
    margin: 40px auto;
}

#contenedor-video {
    display: flex;
    justify-content: center;
}

#video {
    width: 80%;
}

.card-text {
   #descripcionApi {
  text-align: justify;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;   
}
}