body{
    background-image: url(image/fondo.png);
}
header{
    background-color: rgba(0, 0, 0, 0.818);
    align-items: center;
    text-align: center;
    width: auto;   
}
.contenedor{
  display: flex;
  gap: 20px;
  margin: 10px;
}

.columna{
  width: 50%;
  padding: 20px;
  border: 5px solid black;
  background-color: rgba(0, 0, 0, 0.679);
}
